<!-- hero -->
 <section class="hero-section">
    <div class="container">
        <h1 class="visually-hidden">Domino Delights</h1>
    </div>
 </section>
 <!-- About the Game -->
  <section class="about-section">
    <div class="container">
        <h2 class="about-title">About the Game</h2>
        <div class="about-wrapper">
        <p class="about-text">Domino Delights is not just another puzzle game — it’s a beautifully designed, relaxing experience for fans of
        tile-matching and strategic challenges. Blending the classic charm of dominoes with satisfying ASMR effects, colorful 3D
        visuals, and engaging mechanics, it offers thousands of handcrafted levels. Whether you're a puzzle lover or just need a
        calming escape, Domino Delights delivers relaxing gameplay with a touch of clever strategy and character-based
        progression. Join a growing community of players who enjoy matching, collecting, and discovering.</p>
        <picture>
            <source srcset="
            /img/about/about-desk.png  1x,
         /img/about/about-desk@2x.png 2x
         " media="(min-width: 1439px)" />
            <source srcset="
            /img/about/about-mob.png   1x,
         /img/about/about-mob@2x.png 2x
         " media="(max-width: 1438px)" />
            <img class="about-img" src="/img/about/about-mob.png" alt="Domino Delights" loading="lazy" />
        </picture>
    </div>
    </div>
  </section>
  <!-- How to Play -->
  <aside class="play-section">
    <div class="container">
        <h2 class="play-title">How to Play</h2>
         <div class="swiper play-swiper">
          <ul class="swiper-wrapper play-swiper-wrapper">
            <li class="swiper-slide play-swiper-slide">
              <picture class="picture">
                <source srcset="
                /img/play/photo-one-desk.png  1x,
                /img/play/photo-one-desk@2x.png 2x
                                                    " media="(min-width: 1439px)" />
                <source srcset="
                /img/play/photo-one-mob.png  1x,
                /img/play/photo-one-mob@2x.png 2x
                                                    " media="(max-width: 1438px)" />
                <img class="play-img" src="/img/play/photo-one-mob.png" alt="Play screens" loading="lazy" />
              </picture>
            </li>
            <li class="swiper-slide play-swiper-slide">
              <picture class="picture">
                <source srcset="
                            /img/play/photo-two-desk.png  1x,
                            /img/play/photo-two-desk@2x.png 2x
                                                                " media="(min-width: 1439px)" />
                <source srcset="
                            /img/play/photo-two-mob.png  1x,
                            /img/play/photo-two-mob@2x.png 2x
                                                                " media="(max-width: 1438px)" />
                <img class="play-img" src="/img/play/photo-two-mob.png" alt="Play screens" loading="lazy" />
              </picture>
            </li>
            <li class="swiper-slide play-swiper-slide">
              <picture class="picture">
                <source srcset="
                /img/play/photo-three-desk.png  1x,
                /img/play/photo-three-desk@2x.png 2x
             " media="(min-width: 1439px)" />
                <source srcset="
            /img/play/photo-three-mob.png  1x,
           /img/play/photo-three-mob@2x.png 2x
       " media="(max-width: 1438px)" />
                <img class="play-img" src="/img/play/photo-three-mob.png" alt="Play screens" loading="lazy" />
              </picture>
            </li>
            <li class="swiper-slide play-swiper-slide">
              <picture class="picture">
                <source srcset="
                /img/play/photo-four-desk.png  1x,
            /img/play/photo-four-desk@2x.png 2x
         " media="(min-width: 1439px)" />
                <source srcset="
    /img/play/photo-four-mob.png  1x,
      /img/play/photo-four-mob@2x.png 2x
  " media="(max-width: 1438px)" />
                <img class="play-img" src="/img/play/photo-four-mob.png" alt="Play screens" loading="lazy" />
              </picture>
            </li>
            <li class="swiper-slide play-swiper-slide">
              <picture class="picture">
                <source srcset="
                            /img/play/photo-five-desk.png  1x,
                            /img/play/photo-five-desk@2x.png 2x
                         " media="(min-width: 1439px)" />
                <source srcset="
                        /img/play/photo-five-mob.png  1x,
                       /img/play/photo-five-mob@2x.png 2x
                   " media="(max-width: 1438px)" />
                <img class="play-img" src="/img/play/photo-five-mob.png" alt="Play screens" loading="lazy" />
              </picture>
            </li>
            <li class="swiper-slide play-swiper-slide">
              <picture class="picture">
                <source srcset="
                            /img/play/photo-six-desk.png  1x,
                            /img/play/photo-six-desk@2x.png 2x
                         " media="(min-width: 1439px)" />
                <source srcset="
                        /img/play/photo-six-mob.png  1x,
                       /img/play/photo-six-mob@2x.png 2x
                   " media="(max-width: 1438px)" />
                <img class="play-img" src="/img/play/photo-six-mob.png" alt="Play screens" loading="lazy" />
              </picture>
            </li>
            <li class="swiper-slide play-swiper-slide">
              <picture class="picture">
                <source srcset="
                            /img/play/photo-seven-desk.png  1x,
                            /img/play/photo-seven-desk@2x.png 2x
                         " media="(min-width: 1439px)" />
                <source srcset="
                        /img/play/photo-seven-mob.png  1x,
                       /img/play/photo-seven-mob@2x.png 2x
                   " media="(max-width: 1438px)" />
                <img class="play-img" src="/img/play/photo-seven-mob.png" alt="Play screens" loading="lazy" />
              </picture>
            </li>
          </ul>
        </div>
        <div class="custom-navigation play-nav">
          <button class="custom-arrow custom-prev" aria-label="Previous slide">
            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.1665 15L7.1665 10L12.1665 5L13.3332 6.16667L9.49984 10L13.3332 13.8333L12.1665 15Z" fill="white" />
            </svg>
          </button>
        
          <button class="custom-arrow custom-next" aria-label="Next slide">
            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.9998 10L7.1665 6.16667L8.33317 5L13.3332 10L8.33317 15L7.1665 13.8333L10.9998 10Z" fill="white" />
            </svg>
          </button>
        </div>
    </div>
  </aside>
  <!-- Game Features -->
   <section class="features-section">
    <div class="container">
      <h2 class="features-title">Game Features</h2>
      <div class="swiper features-swiper">
        <ul class="swiper-wrapper features-swiper-wrapper">
          <li class="swiper-slide features-swiper-slide">
            <svg class="features-svg" style="width: 36px; height: 36px;">
              <use href="/img/sprite.svg#icon-one"></use>
              </svg>
              <div class="features-wrapper">
                <h3 class="features-title-item">Immersive 3D Puzzle Design</h3>
                <p class="features-text">Experience smooth animations and detailed domino tile visuals that bring every move to life.</p>
              </div>
          </li>
          <li class="swiper-slide features-swiper-slide">
            <svg class="features-svg" style="width: 36px; height: 36px;">
              <use href="/img/sprite.svg#icon-two"></use>
            </svg>
            <div class="features-wrapper">
              <h3 class="features-title-item">Challenging Puzzle Variety</h3>
              <p class="features-text">From vanishing tiles to bomb obstacles, each level introduces new gameplay mechanics to test your logic and skill.</p>
            </div>
          </li>
          <li class="swiper-slide features-swiper-slide">
            <svg class="features-svg" style="width: 36px; height: 36px;">
              <use href="/img/sprite.svg#icon-three"></use>
            </svg>
            <div class="features-wrapper">
              <h3 class="features-title-item">Character Collection & Upgrades</h3>
              <p class="features-text">Unlock quirky characters, each with their own unique ability, and level them up to dominate difficult stages.</p>
            </div>
          </li>
          <li class="swiper-slide features-swiper-slide">
            <svg class="features-svg" style="width: 36px; height: 36px;">
              <use href="/img/sprite.svg#icon-four"></use>
            </svg>
            <div class="features-wrapper">
              <h3 class="features-title-item">Relaxing ASMR Effects</h3>
              <p class="features-text">Let the soothing click of tiles and ambient music calm your mind while you play.</p>
            </div>
          </li>
          <li class="swiper-slide features-swiper-slide">
            <svg class="features-svg" style="width: 36px; height: 36px;">
              <use href="/img/sprite.svg#icon-five"></use>
            </svg>
            <div class="features-wrapper">
              <h3 class="features-title-item">Mini-Games & Bonus Rounds</h3>
              <p class="features-text">Take a break with fun side-games like Tile Dozer or Lucky Drop to earn extra rewards and boosters.</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="custom-navigation features-nav">
        <button class="features-custom-arrow features-custom-prev" aria-label="Previous slide">
          <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.1665 15L7.1665 10L12.1665 5L13.3332 6.16667L9.49984 10L13.3332 13.8333L12.1665 15Z" fill="white" />
          </svg>
        </button>
      
        <button class="features-custom-arrow features-custom-next" aria-label="Next slide">
          <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.9998 10L7.1665 6.16667L8.33317 5L13.3332 10L8.33317 15L7.1665 13.8333L10.9998 10Z" fill="white" />
          </svg>
        </button>
      </div>
    </div>
   </section>
   <!-- Player Reviews -->
    <section class="reviews-section">
      <div class="container">
        <h2 class="reviews-title">Player Reviews</h2>
        <div class="swiper reviews-swiper">
          <ul class="swiper-wrapper reviews-swiper-wrapper">
            <li class="swiper-slide reviews-swiper-slide">
              <picture class="picture">
                <source srcset="
                /img/reviews/avatar-one-desk.png  1x,
                /img/reviews/avatar-one-desk@2x.png 2x
       " media="(min-width: 1439px)" />
          <source srcset="
          /img/reviews/avatar-one-mob.png  1x,
          /img/reviews/avatar-one-mob@2x.png 2x
            " media="(max-width: 1438px)" />
                <img class="reviews-img" src="/img/reviews/avatar-one-mob.png" alt="Avatar" loading="lazy" />
              </picture>
              <div class="reviews-wrapper">
              <h3 class="reviews-title-item">Emily R.</h3>
              <p class="reviews-text">"Domino Delights is my go-to game before bed. The sounds are so calming, and I love unlocking new characters!"</p>
              </div>
            </li>
            <li class="swiper-slide reviews-swiper-slide">
              <picture class="picture">
                <source srcset="
                            /img/reviews/avatar-two-desk.png  1x,
                            /img/reviews/avatar-two-desk@2x.png 2x
                   " media="(min-width: 1439px)" />
                <source srcset="
                      /img/reviews/avatar-two-mob.png  1x,
                      /img/reviews/avatar-two-mob@2x.png 2x
                        " media="(max-width: 1438px)" />
                <img class="reviews-img" src="/img/reviews/avatar-two-mob.png" alt="Avatar" loading="lazy" />
              </picture>
              <div class="reviews-wrapper">
              <h3 class="reviews-title-item">James M.</h3>
              <p class="reviews-text">"The ASMR effects are amazing! It’s one of the few games that actually helps me relax."</p>
              </div>
            </li>
            <li class="swiper-slide reviews-swiper-slide">
              <picture class="picture">
                <source srcset="
                            /img/reviews/avatar-three-desk.png  1x,
                            /img/reviews/avatar-three-desk@2x.png 2x
                   " media="(min-width: 1439px)" />
                <source srcset="
                      /img/reviews/avatar-three-mob.png  1x,
                      /img/reviews/avatar-three-mob@2x.png 2x
                        " media="(max-width: 1438px)" />
                <img class="reviews-img" src="/img/reviews/avatar-three-mob.png" alt="Avatar" loading="lazy" />
              </picture>
              <div class="reviews-wrapper">
              <h3 class="reviews-title-item">Natalie K.</h3>
              <p class="reviews-text">"It’s fun, challenging, and visually stunning. I keep coming back every day."</p>
              </div>
            </li>
            <li class="swiper-slide reviews-swiper-slide">
              <picture class="picture">
                <source srcset="
                            /img/reviews/avatar-four-desk.png  1x,
                            /img/reviews/avatar-four-desk@2x.png 2x
                   " media="(min-width: 1439px)" />
                <source srcset="
                      /img/reviews/avatar-four-mob.png  1x,
                      /img/reviews/avatar-four-mob@2x.png 2x
                        " media="(max-width: 1438px)" />
                <img class="reviews-img" src="/img/reviews/avatar-four-mob.png" alt="Avatar" loading="lazy" />
              </picture>
              <div class="reviews-wrapper">
              <h3 class="reviews-title-item">Sophie L.</h3>
              <p class="reviews-text">"I love how strategic the levels become. It’s more than just matching tiles — you really have to think!"</p>
              </div>
            </li>
            <li class="swiper-slide reviews-swiper-slide">
              <picture class="picture">
                <source srcset="
                            /img/reviews/avatar-five-desk.png  1x,
                            /img/reviews/avatar-five-desk@2x.png 2x
                   " media="(min-width: 1439px)" />
                <source srcset="
                      /img/reviews/avatar-five-mob.png  1x,
                      /img/reviews/avatar-five-mob@2x.png 2x
                        " media="(max-width: 1438px)" />
                <img class="reviews-img" src="/img/reviews/avatar-five-mob.png" alt="Avatar" loading="lazy" />
              </picture>
              <div class="reviews-wrapper">
              <h3 class="reviews-title-item">Daniel H.</h3>
              <p class="reviews-text">"The mini-games are a great touch! They keep the gameplay fresh and give nice bonuses."</p></div>
            </li>
          </ul>
        </div>
        <div class="custom-navigation reviews-nav">
          <button class="custom-arrow reviews-custom-prev" aria-label="Previous slide">
            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.1665 15L7.1665 10L12.1665 5L13.3332 6.16667L9.49984 10L13.3332 13.8333L12.1665 15Z" fill="white" />
            </svg>
          </button>
        
          <button class="custom-arrow reviews-custom-next" aria-label="Next slide">
            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.9998 10L7.1665 6.16667L8.33317 5L13.3332 10L8.33317 15L7.1665 13.8333L10.9998 10Z" fill="white" />
            </svg>
          </button>
        </div>
      </div>
    </section>