/* hero */
.hero-section{
    background-image: url("/img/hero/hero-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 613px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
@media only screen and (min-width: 1439px) {
    .hero-section {
            background-image: url("/img/hero/hero-desk.png");
            background-repeat: no-repeat;
            background-position: top center;
            background-size: 100% 1024px;
            height: 1024px; 
          }    
}
/* About the Game */
.about-title{
    font-family: "Fredoka", sans-serif;
        font-weight: 500;
        font-size: 36px;
        line-height: 1.5;
        text-align: center;
        color: #a06646;
        margin-bottom: 32px;
}
.about-text{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        color: #4d2e1b;
        margin-bottom: 32px;
}
@media only screen and (min-width: 1439px) {
    .about-title {
        font-size: 64px;
            margin-bottom: 0;
        }  
.about-wrapper{
    display: flex;
    gap: 30px;
    align-items: center;
}
        .about-text {
            font-size: 20px;
            text-align: left;
            width: 636px;
            margin-bottom: 0; 
          }
.about-img{
    margin-top: -50px;
}
}
/* How to Play */